html {
    text-decoration: none;
    font-family: 'Raleway', sans-serif !important;
}

body {
	font-family: 'Raleway', sans-serif !important;
}

.navWrapper {
    height: 112px;
}

.jumbotron {
  background: url('../images/HeaderBGc.png');
  background-position: calc(100%) calc(100% + 40px); 
    height:100vh;
  background-position: center top;
  background-size: cover;
}

@media screen and (max-width: 985px) {
  .jumbotron {
      background-position: center;
    }
}

@media screen and (max-height: 620px) {
  .jumbotron {
      height: 620px;
    }
}

.welcome {
    background-image: url('../images/AboutUsBGc.png');
    background-size: cover;
    padding-top: 40vh;
    padding-bottom: 40vh;
    background-color: #a2c3e0;
    vertical-align: middle;
}

.welcome .container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

@media screen and (max-height: 692px) {
  .welcome {
      padding-top: 60vh;
        padding-bottom: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .welcome .container {
        width: 90%;
    }
}

.welcome h2 {
    color: white;
    font-size: 36px;
	font-weight: normal;
    margin-bottom: 3vh;
    font-family: 'Raleway', sans-serif !important;
}

.welcome p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif !important;
}

.productDiv {
    background-image: url('../images/ProductBG.jpg');
    background-size: cover;
}

.productDiv .container {
  padding-top: 10vh;
  padding-bottom: 10vh;
    background-color: white;
}

.productDiv table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.thleftwidth {
    width: 20%;
    text-align: right;
}

.thrightwidth {
    width: 20%;
    text-align: left;
}

@media screen and (max-width: 420px) {
  .productDiv table {
      width: 100%;
    }
    
    .thleftwidth {
        width: 30%;
        text-align: right;
    }
    
    .thrightwidth {
        width: 30%;
        text-align: left;
    }
}

.productDiv h1 {
    color: #000;
    font-size: 42px;  
    font-weight: normal;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
}

.productDiv a {
    margin-top: 50px;
  font-size: 3vh;
  color: #000;
  margin-bottom: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    display: inline-block;
    text-decoration: none !important;
}

.productDiv img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.contactDiv .container {
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
}

.contactDiv h1 {
  color: #000;
  font-size: 42px;  
  font-weight: normal;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
}

.footer {
	bottom: 20px;
    margin-left: 15px;
	font-size: 14px;
    display: block;
}

.footer2 {
    display: none;
}

.noshow {
    display: none;
}

.ui-widget-content {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
}

#homeBtn:focus {
    outline: none;
}

#beveragesIcon, #cannedfoodIcon, #dessertsIcon, #snacksIcon, #fruitsIcon, #seafoodIcon, #commoditiesIcon, #promotionsIcon {
    opacity: 0;
}

.displayblock {
    display: block;
}

.displaynone {
    display: none;
}

.productDiv a:hover {
    cursor: pointer;
    color: #9bce72;
    border-bottom: 2px solid #9bce72;
}

.contactLeftDiv {
    text-align: right;
    float: left;
    width: 50%;
}

.contactRightDiv {
    text-align: left;
    float: right;
    width: 50%;
}

.addressDiv {
    border-bottom: solid 2px #000;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30vw;
}

.ifonlyexists {
    display: none;
}

@media screen and (max-width: 991px) {
    .contactLeftDiv {
        text-align: center;
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .contactRightDiv {
        text-align: center;
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .addressDiv {
        border-right: none;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    .addressDiv span {
        display: none;
    }
    
    .contactFormDiv {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    .contactFormDiv table {
        margin:auto;
    }
    
    tr input[type="text"] {
        width: 150px;
    }

    tr textarea {
        width: 150px;
    }
    
    .footer {
        display: none;
    }
    
    .footer2 {
        display: block;
    }
    
    .ifonlyexists {
        display: block;
    }
}

.gmapdivs {
    height: 30vw;
    width: 30vw;
    z-index: 1;
}

.contactRightDiv {
    display: block;
    height: 30vw;
}

@media screen and (max-width: 1366px) {
    .gmapdivs {
        height: 410px;
        width: 410px;
    }
    
    .addressDiv {
        width: 410px;
    }
}

.contactFormDiv {
    margin-left: 15px;
}

.contactFromTable input[type="text"] {
    background-color: #d5d4d4;
    border: none;
}

.contactFromTable textarea {
    background-color: #d5d4d4;
    border: none;
}

tr {
    height: 40px;
}

tr input[type="text"] {
    width: 200px;
    margin-left: 10px;
}

tr textarea {
    width: 200px;
    margin-left: 10px;
}

.submitBtn {
    float:right;
    display: inherit;
    border: none;
    background-color: #d5d4d4;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 900;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

@media screen and (max-width: 991px) {
    .gmapdivs {
        height: 300px;
        width: 300px;
        margin-right: auto;
    }
}

#gmap_canvas img {
    max-width: none !important;
    background: none !important;
}