html {
    text-decoration: none;
    font-family: 'Raleway', sans-serif !important;
}

body {
	font-family: 'Raleway', sans-serif !important;
}

.navWrapper {
    height: 112px;
}

.jumbotron {
  background: url('../images/HeaderBG.png');
  background-position: calc(100%) calc(100% + 40px); 
    height:100vh;
  background-position: center top;
  background-size: cover;
}

@media screen and (max-width: 985px) {
  .jumbotron {
      background-position: center;
    }
}

@media screen and (max-height: 620px) {
  .jumbotron {
      height: 620px;
    }
}

.welcome {
    background-image: url('../images/AboutUsBG.png');
    background-size: cover;
    padding-top: 40vh;
    padding-bottom: 40vh;
    background-color: #a2c3e0;
    vertical-align: middle;
}

.welcome .container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

@media screen and (max-height: 692px) {
  .welcome {
      padding-top: 60vh;
        padding-bottom: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .welcome .container {
        width: 90%;
    }
}

.welcome h2 {
    color: white;
    font-size: 36px;
	font-weight: normal;
    margin-bottom: 3vh;
    font-family: 'Raleway', sans-serif !important;
}

.welcome p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif !important;
}

.productDiv {
    /*background-image: url('../images/ProductBG.jpg');
    background-size: cover;*/
}

.productDiv .container {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.productDiv table {
    width:70%;
    margin: 0 auto;
    text-align: center;
}

.thwidth {
    width: 20%;
}

@media screen and (max-width: 420px) {
  .productDiv table {
      width: 100%;
    }
    
    .thwidth {
    width: 30%;
}
}

.productDiv a {
    margin-top: 40px;
}

.productDiv h1 {
  color: #000;
  font-size: 36px;  
  font-weight: normal;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
}

.productDiv a {
  font-size: 3vh;
  color: #000;
  margin-bottom: 0px;
    text-align: center;
    padding: 12px;
    font-family: 'Raleway', sans-serif !important;
    display: inline-block;
    text-decoration: none !important;
}

.productDiv img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.contactDiv .container {
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
}

.contactDiv h1 {
  color: #000;
  font-size: 36px;  
  font-weight: normal;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
}

.footer {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 14px;
    display: inline-block;
}

.noshow {
    display: none;
}

.ui-widget-content {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
}

#homeBtn:focus {
    outline: none;
}

#beveragesIcon, #cannedfoodIcon, #dessertsIcon, #snacksIcon, #fruitsIcon, #seafoodIcon, #commoditiesIcon, #promotionsIcon {
    display: none;
}

.displayblock {
    display: block;
}

.displaynone {
    display: none;
}

.productDiv a:hover {
    color: #9bce72;
}